<div class="background-img">
  <div class="container">
    <div class="row card-container">
      <div class="centered">
        <div class="card middle-card">
          <div class="card-body">
            <div class="card-logo">
              <img
                src="../../assets/images/CerebrumX Logo.svg"
                alt=""
                srcset=""
                class="logo-img"
              />
            </div>
            <div class="card-logo">
              <div class="logo-description">Welcome to FleetTrack!</div>
            </div>
            <div class="card-logo">
              <div class="sub-description">Sign in to continue</div>
            </div>

            <form>
              <div class="form-group pt-4">
                <input
                  type="text"
                  class="form-control input-box"
                  id="input1"
                  placeholder="Email"
                />
              </div>
              <div class="form-group pt-4">
                <input
                  type="text"
                  class="form-control input-box"
                  id="input2"
                  placeholder="Password"
                />
              </div>
              <div class="forgot-password">Forgot Password?</div>
              <div class="row pt-2 pb-3">
                <div class="col">
                  <button  class="btn btn-primary form-buttons login-button">Log In</button>
                </div>
                <div class="col">
                  <button  class="btn btn-primary form-buttons create-account">Create account</button>
                </div>
              </div>
             
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
