<div class="main-content-container">
  <div class="main-heading">VIN SUMMARY</div>
  <div class="content-header">
    <div class="content-text">
      <span class="vin_container"
        ><span class="content-sub-text">VIN</span></span
      >
      <span class="content-sub-text2"> D - 1HGBH41JXMN109186 </span>
    </div>
    <div class="d-flex input-container">
      <div class="search-input">
        <input type="text" placeholder="VIN Search...." class="input-button" />
        <button class="search-button">
          <img src="../../assets/images/search.svg" alt="" />
        </button>
      </div>
      <div class="fleet-dropdowm">
        <button class="history-button">
          <img
            src="../../assets/images/view_trip_history.svg"
            alt=""
            class="history-image"
          />
          View Trip History
        </button>
      </div>
    </div>
  </div>
  <div class="content-section pt-1">
    <div class="row">
      <div class="col-4 center-items">
        <img
          src="../../assets/images/summary_car.svg"
          alt=""
          class="car-image"
        />
      </div>
      <div class="col-8">
        <div class="row">
          <div class="col">
            <div class="field-section">
              <div class="section1">Make</div>
              <div class="section2">Chevrolot</div>
            </div>
          </div>
          <div class="col">
            <div class="field-section">
              <div class="section1">Model</div>
              <div class="section2">Tahoe</div>
            </div>
          </div>
        </div>
        <div class="row pt-2">
          <div class="col">
            <div class="field-section">
              <div class="section1">Trim</div>
              <div class="section2">LT</div>
            </div>
          </div>
          <div class="col">
            <div class="field-section">
              <div class="section1">Year</div>
              <div class="section2">2023</div>
            </div>
          </div>
        </div>
        <div class="row pt-2">
          <div class="col">
            <div class="field-section">
              <div class="section1">Class</div>
              <div class="section2">SUV</div>
            </div>
          </div>
          <div class="col">
            <div class="field-section">
              <div class="section1">Fuel Type</div>
              <div class="section2">Gasoline</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-heading heading-padding">
    <span class="icon_container"
      ><img
        src="../../assets/images/vehicle_health_icon.svg"
        alt=""
        class="heading_icon"
    /></span>
    VEHICLE HEALTH
  </div>
  <div class="pt-2">
    <div class="row">
      <div class="col">
        <div class="card-section">
          <div class="card-heading heading-border">
            <img
              src="../../assets/images/tire_pressure_icon.svg"
              alt=""
              class="heading-icon"
            />
            Tire Pressure
          </div>
          <div class="section-image-container">
            <div class="top-left-number">
              <span class="number-container"
                ><span class="bold-number">36 </span
                ><span class="sub-text-number"> PSI</span></span
              >

              <img
                src="../../assets/images/car_arrow_normal.svg"
                alt=""
                srcset=""
              />
            </div>
            <div class="top-right-number">
              <span class="number-container"
                ><span class="bold-number">35 </span
                ><span class="sub-text-number"> PSI</span></span
              >

              <img
                src="../../assets/images/car_arrow_normal.svg"
                alt=""
                srcset=""
                class="top-right-number-image"
              />
            </div>
            <div class="bottom-left-number">
              <span class="number-container"
                ><span class="bold-number">30 </span
                ><span class="sub-text-number"> PSI</span></span
              >

              <img
                src="../../assets/images/car_arrow_alert.svg"
                alt=""
                srcset=""
                class="bottom-left-number-image"
              />
            </div>
            <div class="bottom-right-number">
              <span class="number-container"
                ><span class="bold-number">35 </span
                ><span class="sub-text-number"> PSI</span></span
              >

              <img
                src="../../assets/images/car_arrow_normal.svg"
                alt=""
                srcset=""
                class="bottom-right-number-image"
              />
            </div>
            <img
              src="../../assets/images/car_no_wheels.svg"
              alt=""
              class="car-image"
            />
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card-section">
          <div class="card-header heading-border2">
            <div class="card-heading">
              <img
                src="../../assets/images/battery_voltage_icon.svg"
                alt=""
                class="heading-icon"
              />
              Battery Voltage
            </div>

            <div>
              <img
                src="../../assets/images/lightning_fill.svg"
                alt=""
                class="heading-icon"
              />
              <span class="volts_text">12 volts</span>
            </div>
          </div>
          <div class="section-image-container">
            <img
              src="../../assets/images/battery_voltage_car.svg"
              alt=""
              class="car-image"
            />
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card-section">
          <div class="card-heading heading-border">
            <img
              src="../../assets/images/dtc_alert_icon.svg"
              alt=""
              class="heading-icon"
            />
            DTC Alert
          </div>
          <div class="card-content">
            <div class="alert-section">
              <div class="section1">
                <img
                  src="../../assets/images/info_light.svg"
                  alt=""
                  class="info_icon_class"
                />
                Engine oil Level is Low
              </div>
              <div class="section2">x</div>
            </div>
            <div class="pt-2">
              <div class="alert-section">
                <div class="section1">
                  <img
                    src="../../assets/images/info_light.svg"
                    alt=""
                    class="info_icon_class"
                  />
                  Engine oil Level is Low
                </div>
                <div class="section2">x</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-heading heading-padding dropdown-heading">
    <div>
      <span class="icon_container"
        ><img
          src="../../assets/images/vehicle_statistics_icon.svg"
          alt=""
          class="heading_icon" /></span
      >VEHICLE STATISTICS
    </div>
    <div class="download-dropdown">
      <div class="download_padding">
        <div>
          <img
            src="../../assets/images/download_icon.svg"
            alt=""
            class="download_button"
          />
        </div>
      </div>

      <div class="fleet-dropdowm">
        <ng-select bindLabel="name" bindValue="id" placeholder="Current month">
        </ng-select>
      </div>
    </div>
  </div>
  <div class="pt-2">
    <div class="content-section">
      <div class="row equal-height-row">
        <div class="col equal-height-col">
          <div class="content-section2 light-red-border">
            <div>
              <button class="map_pin_icon">
                <img
                  src="../../assets/images/Map_Pin.svg"
                  alt=""
                  srcset=""
                  class="info_icon_class"
                />
              </button>
            </div>
            <div>
              <div class="content-section-heading">
                <span class="text_number">2752</span> miles
              </div>
              <div class="content-section-text">Total Distance Covered</div>
            </div>
          </div>
        </div>
        <div class="col equal-height-col">
          <div class="content-section2 light-pink-border">
            <div>
              <button class="map_pin_icon">
                <img
                  src="../../assets/images/Time_light.svg"
                  alt=""
                  srcset=""
                  class="info_icon_class"
                />
              </button>
            </div>
            <div>
              <div class="content-section-heading">
                <span class="text_number">36</span> hrs
                <span class="text_number2">22</span> min
              </div>
              <div class="content-section-text">Total time traveled</div>
            </div>
          </div>
        </div>
        <div class="col equal-height-col">
          <div class="content-section2">
            <div class="statistics_icons_row">
              <button class="map_pin_icon">
                <img
                  src="../../assets/images/Road_alt_light.svg"
                  alt=""
                  srcset=""
                  class="info_icon_class"
                />
              </button>
              <div>
                <img
                  src="../../assets/images/Info_hollow.svg"
                  alt=""
                  srcset=""
                  class="info_icon_class2"
                />
              </div>
            </div>
            <div>
              <div class="content-section-heading">
                <span class="text_number">252</span> miles
              </div>
              <div class="content-section-text">Maximum distance covered</div>
            </div>
          </div>
        </div>

        <div class="col equal-height-col">
          <div class="content-section2">
            <div class="statistics_icons_row">
              <button class="map_pin_icon">
                <img
                  src="../../assets/images/Time_light.svg"
                  alt=""
                  srcset=""
                  class="info_icon_class"
                />
              </button>
              <div>
                <img
                  src="../../assets/images/Info_hollow.svg"
                  alt=""
                  srcset=""
                  class="info_icon_class2"
                />
              </div>
            </div>
            <div>
              <div class="content-section-heading">
                <span class="text_number">7</span> hrs
              </div>
              <div class="content-section-text">Maximum duration</div>
            </div>
          </div>
        </div>
        <div class="col equal-height-col">
          <div class="content-section2">
            <div class="statistics_icons_row">
              <button class="map_pin_icon">
                <img
                  src="../../assets/images/Road_alt_light.svg"
                  alt=""
                  srcset=""
                  class="info_icon_class"
                />
              </button>
              <div>
                <img
                  src="../../assets/images/Info_hollow.svg"
                  alt=""
                  srcset=""
                  class="info_icon_class2"
                />
              </div>
            </div>
            <div>
              <div class="content-section-heading">
                <span class="text_number">188</span> miles
              </div>
              <div class="content-section-text">Average trip distance</div>
            </div>
          </div>
        </div>
        <div class="col equal-height-col">
          <div class="content-section2">
            <div class="statistics_icons_row">
              <button class="map_pin_icon">
                <img
                  src="../../assets/images/Time_light.svg"
                  alt=""
                  srcset=""
                  class="info_icon_class"
                />
              </button>
              <div>
                <img
                  src="../../assets/images/Info_hollow.svg"
                  alt=""
                  srcset=""
                  class="info_icon_class2"
                />
              </div>
            </div>
            <div>
              <div class="content-section-heading">
                <span class="text_number">4</span> hrs
              </div>
              <div class="content-section-text">Average trip duration</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-heading heading-padding dropdown-heading">
    <div>
      <span class="icon_container"
        ><img
          src="../../assets/images/driver_safety_icon.svg"
          alt=""
          class="heading_icon" /></span
      >DRIVER SAFETY
    </div>
    <div class="download-dropdown">
      <div class="download_padding">
        <div>
          <img
            src="../../assets/images/download_icon.svg"
            alt=""
            class="download_button"
          />
        </div>
      </div>

      <div class="fleet-dropdowm">
        <ng-select bindLabel="name" bindValue="id" placeholder="Current month">
        </ng-select>
      </div>
    </div>
  </div>
  <div class="pt-2">
    <div class="content-section">
      <div class="row">
        <div class="col-3 chart-col">
          <div class="chart-card-body">
            <app-donut-chart
              [chartData]="chartData.tireBreakUpData"
            ></app-donut-chart>
            <div class="text-center chart-heading">Safety Score</div>
          </div>
        </div>
        <div class="col-9 col-heights-middle">
          <div class="row">
            <div class="col-4">
              <div class="col-section red-border">
                <div class="text-section">
                  <div class="col-section-text">Average Speed</div>
                </div>
                <div class="col_section_row">
                  <div class="col-section-text2">
                    <span class="speed_no">64</span> mph
                  </div>
                  <div class="speed_icon_container">
                    <img
                      src="../../assets/images/speed_icon.svg"
                      alt=""
                      srcset=""
                      class="speed_icon"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="col-section green-border">
                <div class="text-section">
                  <div class="col-section-text">Top Speed</div>
                </div>
                <div class="col_section_row">
                  <div class="col-section-text2">
                    <span class="speed_no">110</span> mph
                  </div>
                  <div class="speed_icon_container">
                    <img
                      src="../../assets/images/top_speed_icon.svg"
                      alt=""
                      srcset=""
                      class="speed_icon"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="col-section purple-border">
                <div class="text-section">
                  <div class="col-section-text">Harsh Acceleration</div>
                </div>
                <div class="col_section_row">
                  <div class="col-section-text2">
                    <span class="speed_no">6</span>
                  </div>
                  <div class="speed_icon_container">
                    <img
                      src="../../assets/images/harsh_acc_icon.svg"
                      alt=""
                      srcset=""
                      class="speed_icon"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row pt-2">
            <div class="col-4">
              <div class="col-section green-border">
                <div class="text-section">
                  <div class="col-section-text">Harsh Braking</div>
                </div>
                <div class="col_section_row">
                  <div class="col-section-text2">
                    <span class="speed_no">5</span>
                  </div>
                  <div class="speed_icon_container">
                    <img
                      src="../../assets/images/wind-02.svg"
                      alt=""
                      srcset=""
                      class="speed_icon"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="col-section orange-border">
                <div class="text-section">
                  <div class="col-section-text">Harsh Cornering</div>
                </div>
                <div class="col_section_row">
                  <div class="col-section-text2">
                    <span class="speed_no">4</span>
                  </div>
                  <div class="speed_icon_container">
                    <img
                      src="../../assets/images/harsh_cornering.svg"
                      alt=""
                      srcset=""
                      class="speed_icon"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="col-section yellow-border">
                <div class="text-section">
                  <div class="col-section-text">Overspeeding Distance</div>
                </div>
                <div class="col_section_row">
                  <div class="col-section-text2">
                    <span class="speed_no">52</span> mph
                  </div>
                  <div class="speed_icon_container">
                    <img
                      src="../../assets/images/Line_out_light.svg"
                      alt=""
                      srcset=""
                      class="speed_icon"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row pt-2">
            <div class="col-4">
              <div class="col-section leaf-border">
                <div class="text-section">
                  <div class="col-section-text">
                    Distance Travelled at Night
                  </div>
                </div>
                <div class="col_section_row">
                  <div class="col-section-text2">
                    <span class="speed_no">102</span> mile
                  </div>
                  <div class="speed_icon_container">
                    <img
                      src="../../assets/images/Moon_alt_light.svg"
                      alt=""
                      srcset=""
                      class="speed_icon"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4"></div>
            <div class="col-4"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row equal-height-row">
    <div class="col-8 equal-height-col">
      <div class="main-heading heading-padding dropdown-heading">
        <div>
          <span class="icon_container"
            ><img
              src="../../assets/images/fuel_summary_icon.svg"
              alt=""
              class="heading_icon2" /></span
          >FUEL SUMMARY
        </div>
        <div class="download-dropdown">
          <div class="download_padding">
            <div>
              <img
                src="../../assets/images/download_icon.svg"
                alt=""
                class="download_button"
              />
            </div>
          </div>

          <div class="fleet-dropdowm">
            <ng-select
              bindLabel="name"
              bindValue="id"
              placeholder="Current month"
            >
            </ng-select>
          </div>
        </div>
      </div>
      <div class="pt-2 coaching-section-container">
        <div class="content-section coaching-section-container">
          <div class="row">
            <div class="col-4">
              <div class="chart-card-body">
                <app-donut-chart
                  [chartData]="chartData.fuelLevelData"
                ></app-donut-chart>
                <div class="text-center chart-heading">Fuel level</div>
              </div>
            </div>
            <div class="col-8 center-display">
              <div class="row equal-height-row">
                <div class="col equal-height-col">
                  <div class="fuel-section">
                    <div class="sub-text">Average Mileage</div>
                    <div class="main-text">24.5 mpg</div>
                  </div>
                </div>
                <div class="col equal-height-col">
                  <div class="fuel-section">
                    <div class="sub-text">Total idling duration</div>
                    <div class="main-text">30 min</div>
                  </div>
                </div>
              </div>
              <div class="row pt-2 equal-height-row">
                <div class="col equal-height-col">
                  <div class="fuel-section">
                    <div class="sub-text">Average cost per mile</div>
                    <div class="main-text">41.7 cents</div>
                  </div>
                </div>
                <div class="col equal-height-col">
                  <div class="fuel-section">
                    <div class="sub-text">Average idling percent</div>
                    <div class="main-text">5%</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 column-heights equal-height-col">
      <div class="main-heading heading-padding">
        <span class="icon_container"
          ><img
            src="../../assets/images/coaching_insights_icon.svg"
            alt=""
            class="heading_icon" /></span
        >COACHING INSIGHTS
      </div>

      <div class="coaching-section-container">
        <div class="coaching-section">
          <div class="pt-2">
            <div class="coaching-inner-section">
              <div>
                <div class="main-text">Fuel cost is up by 3%</div>
                <div class="sub-text">Know more how to reduce fuel cost</div>
              </div>
              <div>
                <img
                  src="../../assets/images/send_icon.svg"
                  alt=""
                  class="send_icon"
                />
              </div>
            </div>
          </div>
          <div class="pt-2">
            <div class="coaching-inner-section">
              <div>
                <div class="main-text">HB is more than benchmark</div>
              </div>
              <div>
                <img
                  src="../../assets/images/send_icon.svg"
                  alt=""
                  class="send_icon"
                />
              </div>
            </div>
          </div>
          <div class="pt-2 pb-2">
            <div class="coaching-inner-section">
              <div>
                <div class="main-text">HB is more than benchmark</div>
              </div>
              <div>
                <img
                  src="../../assets/images/send_icon.svg"
                  alt=""
                  class="send_icon"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
