.navbar {
  background-color: #102c52 !important;
  .navbar-brand {
    color: #fff !important;
  }
  .dashboard-icon {
    height: 25px;
    padding: 0px 0px 5px 0px;
    margin-right: 10px;
  }
  .vin-icon {
    font-size: 13px;
    border: 1px solid #fff;
    padding: 1px 5px;
    border-radius: 4px;
    margin: 0 10px;
  }
  .navbar-nav {
    gap: 2rem;
    .nav-link {
      color: #fff !important;
    }
  }
}
.side-panel {
  background-color: #fff;
  height: 100%;
  padding: 10px 20px;
  .side-panel-options {
    .options {
      height: 50px;
      max-width: 200px;
      padding: 10px;
      margin-bottom: 16px;
      border-radius: 5px;
      cursor: pointer;
      .options-icon {
        height: 28px;
        margin: 0 10px 6px 0px;
      }
      .options-text {
        font-size: 20px;
      }
    }
    .options.active {
      background-color: #feeadd;
    }
    .options:hover {
      background-color: #feeadd;
    }
  }
}
.main-content-container {
  background-color: #f6f8fa;
  padding: 40px;
  .tab-pane {
    padding: 40px;
  }
  .nav-link {
    padding-right: 90px !important;
    color: #102c53;
    font-weight: 500;
    border-left: 0px solid transparent;
    border-right: 25px solid transparent;
    height: 0px;
    width: 200px;
    display: flex;
    margin-top: 0px;
    background: transparent !important;
    padding: 0px 20px !important;
    border-top: none;
  }
  .nav-link.active {
    color: #fa751a !important;
    border-color: none !important;
    border-bottom: 50px solid #fff;
  }
  .date-range-dropdown {
    width: 150px;
    margin-right: 20px;
  }
  .fleet-dropdowm {
    width: 150px;
  }
  .fuel-dropdown {
    width: -webkit-fill-available;
  }
  .options-icon {
    height: 20px;
    margin-right: 6px;
  }
  .content-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    .content-heading {
      font-size: 30px;
    }
  }
  .tab-content {
    background: #fff !important;
  }
  .details-container {
    padding-top: 50px;
  }
  .btn-tile-container {
    display: flex;
    padding-top: 10px;
  }
  .btn-tile {
    height: 80px;
    background-color: #fff;
    border-radius: 12px;
    font-size: 24px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border: 1px solid #e7eaee;
    width: 100%;
    padding: 0 20px;
    .btn-tile-no {
      font-weight: bold;
      font-size: 35px;
    }
    .btn-tile-text {
      font-size: 14px;
    }
  }
  .insights {
    padding: 16px 24px !important;
    height: auto !important;
    text-align: left;
    margin-bottom: 24px;
    color: #fff;
  }
  .btn-tile-blue {
    background-color: #4680ff;
  }
  .btn-tile-orange {
    background-color: #fa751a;
  }
  .btn-tile-green {
    background-color: #2ca87f;
  }
  .btn-tile:hover {
    /* color: #fff; */
  }
}
/* .section-heading {
  font-size: 20px !important;
  font-weight: 700 !important;
} */

.mr-40 {
  margin-right: 40px;
}

.table-section {
  border: 1px solid grey;
  border-radius: 6px;
  padding: 10px;
  font-size: 12px;
  table {
    font-size: 9px;
    thead {
      th {
        color: #8b90a7;
      }
    }
    tbody {
      th {
        color: #6393fd;
      }
    }
  }
  .drop-icon {
    height: 16px;
    margin: 0px 0px 9px 0px;
  }
  .up-icon {
    height: 16px;
    margin: 0px 0px -5px 0px;
    transform: rotate(180deg);
  }
  .table-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: 500;
  }
  .sub-text {
    font-size: 10px;
    color: #b4bfca;
    font-weight: 500;
  }
  .table-details {
    color: #6393fd;
  }
}

#chart {
  /* max-width: 650px; */
  margin: 35px auto;
}

.chart-card {
  border: #ebebeb 2px solid;
  background-color: #fff;
  /* min-height: 520px; */
  border-radius: 12px;
  .chart-card-header {
    padding: 16px 20px;
    border-bottom: 1px solid #e7eaee;
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    .chart-card-sub-header {
      font-size: 16px;
    }
  }
  .chart-card-body {
    padding: 0 20px;
  }
}

.chart-card-header-logo {
  width: 10%;
  padding-top: 2%;
  padding-right: 3%;
  margin-bottom: 0.5rem;
}
.chart-card-header-logo1 {
  width: 7%;
  padding-top: 2%;
  padding-right: 3%;
  margin-bottom: 0.5rem;
}

.chart-card-header-link {
  color: #4680ff;
  float: right;
  margin-top: 0.5rem;

  font-size: 16px;
}
.chart-card-header-past-months {
  float: right;
  margin-top: 0.5rem;
  color: #6c757e;
  font-size: 10px;
}

.month-dropdown {
  display: flex;
  justify-content: center;
  padding: 20px 10px 0 10px;
}

.card-tile-text {
  color: grey;
}

/* Sustainability */
.date-filter {
  margin: 10px 30px;
  .days {
    width: 150px;
    border-radius: 20px;
    border: none;
  }
  .days.active {
    background-color: #fa751a;
    color: #fff;
  }
  .days:hover {
    background-color: #fa751a;
    color: #fff;
  }
}
.history-container {
  margin-bottom: 30px;
  .date-container {
    padding: 50px 14px;
  }
  .charge-details-container {
    border: 1px solid #e7eaee;
    border-radius: 5px;
    padding: 25px 20px;
  }
  .history-sub-heading {
    padding-bottom: 20px;
    border-bottom: 1px solid #e7eaee;
  }
  .history-sub-details {
    padding-top: 20px;
  }
  .accordion-item {
    border: none !important;
  }
  .history-heading {
    font-weight: 700;
    font-size: 20px;
  }
  .histroy-label {
    font-size: 14px;
    font-weight: 700;
  }
  .history-value {
    font-size: 12px;
  }
  .history-time {
    font-size: 12px;
  }
  .date-value {
    font-size: 22px;
    font-weight: 600;
  }
  .month-value {
    font-size: 16px;
  }
  .accordion-button:not(.collapsed) {
    background: transparent !important;
  }
  .accordion-button {
    box-shadow: none !important;
  }
  agm-map {
    height: 600px;
  }
}

.no-trip-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}