.card-container {
  /* width: 280px; */
}
#chart {
  position: relative;
}
.clock-hand {
  z-index: 5;
  position: absolute;
  top: 136px;
  left: 180px;
  img {
    transform-origin: 56px 97px;
    transition: transform 1s;
    width: 68px;
    height: 108px;
  }
}
.clock-center {
  position: absolute;
  top: 207px;
  left: 207px;
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 16px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.clock-container {
  position: relative;
  margin: 200px;
  width: 200px;
  height: 200px;
  border: 2px solid #333;
  border-radius: 50%;
  transform: rotate(-83deg);
}

.clock-item {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #3498db;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.clock-item:hover {
  background-color: #2980b9;
}
.direction {
  top: 114px;
  position: absolute;
  left: 48%;
  font-size: 16px;
  font-weight: 700;
}
.rpm-details {
  position: absolute;
  top: 265px;
  left: 200px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
.speed-icon {
  left: 226px;
  position: absolute;
  top: 353px;
}
.progress-icon {
  height: 24px;
}

.speed-progress-bar {
  display: flex;
  top: 400px;
  position: absolute;
  left: 139px;

  .progress-strip {
    margin: 0 2px;
    height: 18px;
    width: 9px;
    background-color: #e7eaee;
  }
  .progress-strip.active {
    background-color: #fa751a;
  }
  .progress-start {
    margin-right: 10px;
    font-size: 14px;
    font-weight: 700;
  }
  .progress-end {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 700;
  }
}

.fuel-progress-bar {
  display: flex;
  top: 400px;
  position: absolute;
  left: 139px;
  .progress-strip {
    margin: 0 2px;
    height: 18px;
    width: 41px;
    background-color: #e7eaee;
  }
  .progress-strip.active {
    background-color: #4680ff;
  }
  .progress-start {
    margin-right: 10px;
    font-size: 14px;
    font-weight: 700;
  }
  .progress-end {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 700;
  }
}
